<div class ="box-container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class ="col m4 l4">
        <div class="box">
          <a class="modal-trigger" href="#<%=post.id%>"><img class="image" src="<%= post.image_url %>"></a>
            <!-- Modal Structure starts -->
              <div id="<%=post.id%>" class="modal modalsize">
                <div class="modal-box">
                  <img class="modal-image" src="<%= post.image_url %>">
                    <div class="modal-option">
                      <% if current_user.is_like?(post) %>
                        <%= link_to "좋아요 취소", post_like_path(post), method: "POST" %>
                      <% else %>
                        <%= link_to "좋아요", post_like_path(post), method: "POST" %>
                      <% end %>
                      <% if current_user == post.user %>
                        <%= link_to 'Edit', edit_post_path(post) %>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </div>
                    <div class="modal-text">
                      <b><%= post.user_name%></b> | <b><%= post.title %></b>
                      <br><%= post.content %>
                    </div>
                    <div class="modal-comment">
                      <% post.comments.each do |comment| %>
                        <div id="comment_<%= comment.id %>">
                          <b><%= comment.user.name %></b> | <%= comment.content %>
                          <% if current_user == comment.user %>
                            <%= link_to 'X', post_comment_path(post, comment), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
                          <% end %><br>
                        </div>
                      <% end %>
                      <form action="/posts/<%= post.id %>/comments" method="POST" data-remote="true">
                        <input id="comment_content" type="text" name="content" placeholder="내용">
                        <input type="submit" value="작성">
                      </form>
                    </div>
                </div>
              </div>
            <!-- Modal Structure ends -->
        </div>
      </div>
    <% end %>
  </div>
</div>


<style>
  .box-container {
   text-align: center;
  }

  .box {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 3px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 30px;
  }

  .box .image {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }

  .modalsize {
  }

  .modal-box {
    padding: px;
  }

  .modal-image {
    width: 100%;
  }

  .modal-option {
    text-align: right;
    padding-right: 24px;
  }

  .modal-text {
    text-align: left;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }

  .modal-comment {
    text-align: left;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
</style>
