<%= render 'upside' %>


<% if user_signed_in? %>
  <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to '로그인', new_user_session_path, method: :get %>
  <%= link_to '회원가입', new_user_registration_path, method: :get %>
<% end %>

<button><%= link_to '글쓰기', new_post_path %></button>
<table>
  <thead>
    <tr>
      <th>UserName</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @posts.each do |post| %>
  <tbody>
    <tr>
      <td><%= post.user_name %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <%# <td><%= image_tag("#{post.image}") %></td> %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
