<%= render 'upside' %>

<% if user_signed_in? %>
  <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
  <%= link_to "알람", user_alarm_path(current_user) %>
<% else %>
  <%= link_to '로그인', new_user_session_path, method: :get %>
  <%= link_to '회원가입', new_user_registration_path, method: :get %>
<% end %>

<button><%= link_to '글쓰기', new_post_path %></button> <br>

<%= render 'post' %>
